<html>
  <head>
    <style>
      h1{ font-size: 20px; color:#0267ff }
    </style>
  </head>
  <body>
    <header>
      <h1>Loan App Omega</h1>
    </header>
    <p>Hello {{name}},</p>
    <p>After thorough analysis by the system</p>
    <p>We at
      {{companyName}}
      regret to inform you that you are not eligible for the #{{loanAmount}}
      loan you applied for.</p>
    <p>You are hereby advised not to proceed with the loan.</p>
  </body>
</html>