<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hello {{name}},</p>
        <p>Your token to reset your password is {{token}}.</p>
        <p> This token expires in an hour</p>
        <a href="{{link}}">Click on this link to input new password</a>
    </body>
</html>